<div class="card" style="width: 18rem;">
    <div class="card-body">
        <% if (movement.image) { %>
            <img src="data:image/<%=movement.image.contentType%>;base64,
                                                                <%=movement.image.data.toString('base64')%>" style="width: 10vw; height: auto;">
            <% } %>
                <h5 class="card-title">
                    <%= movement.name %>
                </h5>
                <p class="card-text">
                    <%= movement.description %>
                </p>
                <% if (movement.created_by) { %>

                    <a href="/profile/<%= movement.created_by.toString() %>" class="btn btn-primary">See Creator's Profile</a>
                    <% } %>
                        <p class="card-text"></p>
                        <% if (user) { %>
                            <a href="/vote/<%= movement._id.toString() %>/<%= user._id.toString() %>" class="btn btn-primary">Vote : <%= movement.count %></a>
                            <% } %>
    </div>
</div>